/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */

@import url('node_modules/photon-colors/photon-colors.css');

/* Global */
html,
body {
  box-sizing: border-box;
  color: var(--grey-90);
  cursor: default;
  display: flex;
  flex-direction: column;
  font: caption;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}

body * {
  box-sizing: border-box;
  text-align: start;
}

.browser-style,
.browser-style > input[type="text"] {
  -moz-appearance: none;
  text-align: left;
}

/* stylelint-disable property-no-vendor-prefix */
/* Buttons */
button.browser-style,
select.browser-style {
  background-color: var(--grey-90-a10);
  border: 1px solid transparent;
  border-radius: 2px;
  font: inherit;
  height: 32px;
  margin-right: 16px;
  outline: 0 !important;
  padding: 0 8px 0;
}

select.browser-style {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  padding-inline-end: 24px;
  text-overflow: ellipsis;
}

label.browser-style-label {
  font: inherit;
}

button.browser-style::-moz-focus-inner {
  border: 0;
  outline: 0;
}

/* Dropdowns */

select.browser-style {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  padding-inline-end: 24px;
  text-overflow: ellipsis;
}

select.browser-style:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select.browser-style:-moz-focusring * {
  color: #000;
  text-shadow: none;
}

button.browser-style:hover,
select.browser-style:hover {
  background-color: var(--grey-90-a20);
}

button.browser-style:hover:active,
select.browser-style:hover:active {
  background-color: var(--grey-90-a30);
}

button.browser-style:disabled,
select.browser-style:disabled {
  opacity: .4;
}

button.browser-style:focus,
select.browser-style:focus {
  border-color: var(--blue-50);
  box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

button.browser-style.default {
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-60);
  color: #fff;
}

button.browser-style.default:hover {
  background-color: var(--blue-70);
}

button.browser-style.default:hover:active {
  background-color: var(--blue-80);
}

button.browser-style.micro {
  height: 24px;
  font-size: 11px;
  letter-spacing: .01rem;
}

button.browser-style.puffy {
  border-radius: 4px;
  font-size: 15px;
  height: 48px;
  padding: 0 16px 0;
}

/* Radio Buttons */
.browser-style > input[type="radio"] {
  display: none;
}

.browser-style > input[type="radio"] + label {
  -moz-user-select: none;
}

.browser-style > input[type="radio"] + label::before {
  background-color: #fff;
  background-position: center;
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  vertical-align: text-top;
  width: 16px;
}

.browser-style > input[type="radio"]:hover + label::before,
.browser-style.hover > input[type="radio"]:not(active) + label::before {
  background-color: #fbfbfb;
  border-color: #b1b1b1;
}

.browser-style > input[type="radio"]:hover:active + label::before,
.browser-style.pressed > input[type="radio"]:not(active) + label::before {
  background-color: #ebebeb;
  border-color: #858585;
}

.browser-style > input[type="radio"]:checked + label::before {
  background-color: #0996f8;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iNCIgZmlsbD0iI2ZmZiIgLz4KPC9zdmc+Cg==);
  border-color: #0670cc;
}

.browser-style > input[type="radio"]:checked:hover + label::before,
.browser-style.hover > input[type="radio"]:checked:not(active) + label::before {
  background-color: #0670cc;
  border-color: #005bab;
}

.browser-style > input[type="radio"]:checked:hover:active + label::before,
.browser-style.pressed > input[type="radio"]:checked:not(active) + label::before {
  background-color: #005bab;
  border-color: #004480;
}

.browser-style.disabled > input[type="radio"] + label,
.browser-style.disabled > input[type="radio"]:hover + label,
.browser-style.disabled > input[type="radio"]:hover:active + label {
  color: #999;
  opacity: .5;
}

.browser-style.focused > input[type="radio"] + label::before {
  border-color: #0996f8;
  box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

.browser-style.focused > input[type="radio"]:checked + label::before {
  border-color: #fff;
}

/* Checkboxes */
.browser-style > input[type="checkbox"] {
  display: none;
}

.browser-style > input[type="checkbox"] + label {
  -moz-user-select: none;
}

.browser-style > input[type="checkbox"] + label::before {
  background-color: #fff;
  background-position: center;
  border: 1px solid #b1b1b1;
  content: "";
  display: inline-block;
  height: 16px;
  margin-right: 6px;
  vertical-align: text-top;
  width: 16px;
}

.browser-style > input[type="checkbox"]:hover + label::before,
.browser-style.hover > input[type="checkbox"]:not(active) + label::before {
  background-color: #fbfbfb;
  border-color: #b1b1b1;
}

.browser-style > input[type="checkbox"]:hover:active + label::before,
.browser-style.pressed > input[type="checkbox"]:not(active) + label::before {
  background-color: #ebebeb;
  border-color: #858585;
}

.browser-style > input[type="checkbox"]:checked + label::before {
  background-color: #0996f8;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNNy43LDEyLjkgQzcuNCwxMy4zIDYuOCwxMy40IDYuNCwxMyBMMy4yLDkuOCBDMi44LDkuNCAyLjgsOC42IDMuMiw4LjIgQzMuNiw3LjggNC40LDcuOCA0LjgsOC4yIEw2LjksMTAuMyBMMTEuMSw0LjQgQzExLjUsMy45IDEyLjIsMy44IDEyLjcsNC4xIEMxMy4yLDQuNSAxMy4zLDUuMiAxMyw1LjcgTDcuNywxMi45IEw3LjcsMTIuOSBaIiBmaWxsPSIjZmZmIiAvPgo8L3N2Zz4K);
  border-color: #0670cc;
}

.browser-style > input[type="checkbox"]:checked:hover + label::before,
.browser-style.hover > input[type="checkbox"]:checked:not(active) + label::before {
  background-color: #0670cc;
  border-color: #005bab;
}

.browser-style > input[type="checkbox"]:checked:hover:active + label::before,
.browser-style.pressed > input[type="checkbox"]:checked:not(active) + label::before {
  background-color: #005bab;
  border-color: #004480;
}

.browser-style.disabled > input[type="checkbox"] + label,
.browser-style.disabled > input[type="checkbox"]:hover + label,
.browser-style.disabled > input[type="checkbox"]:hover:active + label {
  color: #999;
  opacity: .5;
}

.browser-style.focused > input[type="checkbox"] + label::before {
  border-color: #0996f8;
  box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

.browser-style.focused > input[type="checkbox"]:checked + label::before {
  border-color: #fff;
}

/* Expander Button */
button.browser-style.expander {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  padding: 0;
  width: 24px;
}

/* Fields */
.browser-style > input[type="text"],
textarea.browser-style {
  background-color: #fff;
  border: 1px solid var(--grey-20);
  border-radius: 2px;
  font: inherit;
  margin-bottom: 6px;
  padding: 0 6px 0;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(.07,.95,0,1);
}

textarea.browser-style {
  padding: 6px;
}

.browser-style > input[type="text"] {
  height: 32px;
}

.browser-style > input[type="text"]:not(:disabled):hover,
textarea.browser-style:not(:disabled):hover {
  border-color: var(--grey-30);
}

.browser-style > input[type="text"]:disabled,
textarea.browser-style:disabled {
  opacity: .4;
}

.browser-style > input[type="text"]:not(:disabled):focus,
textarea.browser-style:not(:disabled):focus,
.browser-style > input[type="text"]:not(:disabled):active,
textarea.browser-style:not(:disabled):active {
  border-color: var(--blue-50);
  box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

/* stylelint-disable property-no-vendor-prefix */
.panel-section {
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.panel-section-separator {
  background-color: var(--grey-30);
  min-height: 1px;
}

/* Panel Section - Header */
.panel-section-header {
  align-items: center;
  border-bottom: 1px solid var(--grey-30);
  display: flex;
  flex: 1 auto;
  height: 40px;
  padding: 4px;
}

.panel-section-header > .icon-section-header {
  -moz-context-properties: fill;
  background-color: transparent;
  background-image: url(chrome://browser/skin/arrow-left.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  fill: var(--grey-90-a80);
  flex-shrink: 0;
  height: 32px;
  padding: 8px;
  position: relative;
  width: 32px;
}

.panel-section-header > .icon-section-header:hover {
  background-color: var(--grey-90-a10);
}

.panel-section-header > .icon-section-header:active {
  background-color: var(--grey-90-a20);
}

.panel-section-header > label {
  flex: auto;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  margin-inline-end: 32px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.panel-section-header > .text-section-header {
  align-self: center;
  font-size: 1.385em;
  font-weight: lighter;
}

/* Panel Section - List */
.panel-section-list {
  flex-direction: column;
  padding: 6px 0;
}

.panel-list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 24px;
  padding: 0 16px;
}

.panel-list-item:not(.disabled):hover {
  background-color: var(--grey-90-a10);
}

.panel-list-item:not(.disabled):hover:active {
  background-color: var(--grey-90-a20);
}

.panel-list-item.disabled {
  opacity: .4;
}

.panel-list-item > .icon {
  flex-grow: 0;
  flex-shrink: 0;
}

.panel-list-item > .text {
  flex-grow: 10;
}

.panel-list-item > .text-shortcut {
  color: var(--grey-50);
  font: caption;
  font-size: .847em;
  justify-content: flex-end;
}

.panel-section-list .panel-section-separator {
  margin: 4px 0;
}

/* Panel Section - Form Elements */
.panel-section-formElements {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.panel-formElements-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.panel-formElements-item:last-child {
  margin-bottom: 0;
}

.panel-formElements-item label {
  display: block;
  margin-bottom: 4px;
}

.panel-formElements-item input[type="text"],
.panel-formElements-item select.browser-style {
  flex-grow: 1;
}

/* Panel Section - Footer */
.panel-section-footer {
  border-top: 1px solid var(--grey-30);
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: flex-end;
  padding: 8px;
  align-items: center;
  align-content: center;
}

.panel-section-footer-button {
  background-color: var(--grey-90-a10);
  border: 1px solid transparent;
  border-radius: 2px;
  flex: 0 0 auto;
  font-size: 13px;
  height: 32px;
  margin-left: 8px;
  padding: 0 8px 0;
  text-align: center;
}

.panel-section-footer-button > .text-shortcut {
  color: var(--grey-50);
  font: caption;
  font-size: .847em;
}

.panel-section-footer-button:hover {
  background-color: var(--grey-90-a20);
}

.panel-section-footer-button:hover:active {
  background-color: var(--grey-90-a30);
}

.panel-section-footer-button.default {
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-60);
  color: #fff;
}

.panel-section-footer-button.default:hover {
  background-color: var(--blue-70);
}

.panel-section-footer-button.default:hover:active {
  background-color: var(--blue-80);
}

.panel-section-footer-separator {
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
  z-index: 99;
}

/* Panel Section - Tabs */
.panel-section-tabs {
  border-bottom: 1px solid var(--grey-30);
  display: flex;
  flex-direction: row;
  height: 41px;
  margin-bottom: -1px;
  padding: 0;
}

.panel-section-tabs-button {
  -moz-appearance: none;
  border: none;
  background: none;
  flex: 1 1 auto;
  height: 100%;
  padding: 12px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

.panel-section-tabs-button:hover {
  background-color: var(--grey-90-a10);
  box-shadow: 0 4px 0 var(--grey-30) inset;
}

.panel-section-tabs-button:hover:active {
  background-color: var(--grey-90-a10);
  border: none;
}

.panel-section-tabs-button.selected {
  box-shadow: 0 4px 0 var(--blue-50) inset;
  color: var(--blue-60);
}

.panel-section-tabs-button.selected:hover {
  color: #0670cc;
}

.panel-section-tabs-separator {
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
  z-index: 99;
}
